*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 0;
    background-color: lightgrey;
    max-width: 100%;

}

.container1 {
    background-color: #e9e9e9 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0px;
    height: 86px;
    flex-direction: row;
}
.titulo-campaña {
    font-size: 20px;
    font-weight: 500;
    color: #363636;
}
._9RsnMJ9eXqlCrSxyf8gbY {
    color: #e4002b !important;
    border:3px solid #e4002b ;
    text-transform: none !important;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 50px !important;

}
.botonFijo{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 80px;
    height: 80px;
    border: 1px solid transparent;
    border-radius: 1000px !important;
    background-color: white;
}

.container2 {
    height: 100vh;
    background-image: url(../img/home/imagen1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.titulo-asociar {
    color: white;

    line-height: 1.2em;
    letter-spacing: 2px;
    margin-bottom: 0;
    margin-left: 200px;
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 30px;

}
.titulo1 {
    font-size: 55px;
    margin-left: 200px;
    color: white;
    letter-spacing: 2px;
    margin-left: 200px;
    margin-bottom: 10px;
    
}