
*{
    font-family: "Roboto", sans-serif !important;
}
html *{
    font-family: var(--font-family-base) !important;
}
a{
    text-decoration: none;
}
.textLarge{
    font-size: 14px;
}
.centerContent{
    padding-left: 45px;
    padding-right: 45px;
}
.spanHeader{
    font-size: 14px;
    color: grey;
    text-decoration: none;
}
ul{
    list-style: none;
}
li{
    display: inline;
}
.centerContent ul li{
    border-right: solid 2px black;
}
ul li a{
    color: black;
    text-decoration: none;
    font-size: 14px;
}
ul li a:hover{
    color: red;
}
.btn{
    font-size: 14px !important;
}
.btnPadd{
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}
.borderNone{
    border-right:  0px !important;
}
#grid{
    font-size: 26px;
}
footer{
    background-color: #383838;
}
footer ul li{
    color: #999;
    text-decoration: none;
    font-size: 14px !important;
    border: none !important;
    display: block !important;
    cursor: pointer;
    font-weight: 300;
}
footer ul li b{
    color: white;
    cursor: default;
}
i{
    color: #999;
}
.footerPadd{
    padding-left: 20px;
    margin-right: 20px !important;
    padding-top: 100px;
    padding-bottom: 80px;
}
.registerContent{
    background: rgba(206, 206, 206, 0.31);
    padding-top: 50px;
    padding-left: 350px;
    padding-right: 350px;
}
.formBlock{
    background-color: white;
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 120px;
}
.borde{
    border-bottom: solid 2px red;
}
.centrar{
    justify-content: center;
    align-items: center;
}
.colorSecundario{
    color: #999;
}
.tamañoIcono i{
    font-size: 30px;
}
.active{
    color: red;
}
.barritaNav{
    float: left;
    padding-top: 20px;
    width: 100% !important;
    border: 0px solid;
    border-bottom: 2px solid #999 !important;
}
#form .col{
    padding: 1px !important;
}
.alineadoForm{
    padding-left: 50px !important;
    padding-right: 50px !important;
}
.alineadoForm1{
    padding-left: 60px !important;
    padding-right: 60px !important;
}
.alineadoForm2{
    padding-left: 0px !important;
}
.titulo{
    font-size: 18px;
}
.parrafo{
    font-size: 14px;
    padding-bottom: 20px;
    padding-top: 10px;
}
#botonDesplegable{
    margin-top: 5px;
    width: 225px !important;
    text-align: start !important;
    border-radius: 2px !important;
    border: 1px solid#999;
    padding-left: 20px;
    font-size: 16px !important;
}
.inputFijo{
    margin-top: 8px;
    width: 225px !important;
    text-align: start !important;
    border-radius: 2px !important;
    border: 1px solid#999;
    padding-left: 20px;
    font-size: 16px !important;
    padding: 6px;
}
.tamaño{
    font-size: 14px !important;
}